---
import CardsEpisodios from "@/components/CardsEpisodios.astro";
import CardsPersonajes from "@/components/CardsPersonajes.astro";
import CardsUbicaciones from "@/components/CardsUbicaciones.astro";
import Filtros from "@/components/Filtros";
import Landing from "@/components/Landing.astro";
import Layout from "@/layouts/Layout.astro";
import MainArea from "@/components/MainArea.astro";
import { fetchApi } from "@/services/fetch";

const { results: personajes } = await fetchApi("character");
---

<Layout title="Pagina de inicio">
    <Landing slot="banner" />
    <section slot="main" class="w-full space-y-14 mt-7 pt-7">
        <Filtros client:load />
        <MainArea>
            <div
                class="grid grid-cols-[repeat(auto-fill,minmax(250px,1fr))] gap-4"
            >
                {
                    personajes?.map(
                        ({ id, name, status, species, location, image }) => (
                            <CardsPersonajes
                                id={id}
                                name={name}
                                status={status}
                                species={species}
                                location={location}
                                image={image}
                            />
                        ),
                    )
                }
            </div>
        </MainArea>
        <MainArea title="Episodios">
            <div
                class="grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))] gap-4"
            >
                {[1, 2, 3, 4, 5, 6]?.map((e, i) => <CardsEpisodios id={i} />)}
            </div>
        </MainArea>
        <MainArea title="Locaciones">
            <div
                class="grid grid-cols-[repeat(auto-fill,minmax(150px,1fr))] gap-4"
            >
                {[1, 2, 3, 4]?.map((e, i) => <CardsUbicaciones id={i} />)}
            </div>
        </MainArea>
    </section>
</Layout>
